<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/jdbc_project_v2</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">13761376</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgresPlusDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!--		&lt;!&ndash; Set the current session context &ndash;&gt;-->
        <!--		<property name="current_session_context_class">thread</property>-->
        <mapping class="app.raiko.model.admin.domain.Admin"/>
        <mapping class="app.raiko.model.Shop.domain.Shop"/>
        <mapping class="app.raiko.model.businessOwner.domain.BusinessOwner"/>
    </session-factory>
</hibernate-configuration>